@use "./variables";

.banner {
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-around;
	gap: 40px;
	align-items: center;
	padding: 64px 16px;
	background-color: variables.$light-color;
	min-height: 600px;

	@include variables.for-medium-screen {
		flex-direction: column-reverse;
		padding: 64px 40px;
		gap: 24px;
	}
	@include variables.for-large-screen {
		flex-direction: row-reverse;
		padding: 64px 40px;
	}
	@include variables.for-extralarge-screen {
	}

	&-left {
		display: flex;
		flex-direction: column;
		gap: 16px;
		width: 92%;

		@include variables.for-large-screen {
			width: 50%;
		}

		&--heading {
			font-size: 32px;
			color: variables.$dark-blue-color;
			font-weight: 600;

			@include variables.for-large-screen {
				font-size: 40px;
			}
		}

		&--desc {
			font-size: 16px;
			font-weight: 200;
			width: 100%;

			@include variables.for-large-screen {
				font-size: 18px;
				width: 90%;
			}
		}
	}

	img {
		width: 70%;
		object-fit: contain;

		@include variables.for-medium-screen {
			width: 55%;
		}

		@include variables.for-large-screen {
			width: 500px;
		}
	}
}
