@use "./variables";

.footer {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 24px 16px;
	background-color: variables.$primary-dark-color;
	color: variables.$light-color;
	text-align: center;
	gap: 4px;

	a {
		text-decoration: none;
		color: variables.$primary-light-color;
		font-weight: 700;
	}
}
