@use "./variables";

.herosec {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	padding: 24px 40px;
	background-color: variables.$gray-color;
	min-height: 600px;
	width: 100%;

	@include variables.for-medium-screen {
		flex-direction: column-reverse;
		gap: 24px;
	}
	@include variables.for-large-screen {
		justify-content: space-around;
		flex-direction: row;
	}
	@include variables.for-extralarge-screen {
	}

	&-left {
		display: flex;
		flex-direction: column;
		gap: 16px;

		@include variables.for-large-screen {
			margin-left: 40px;
		}

		&--heading {
			font-size: 32px;
			color: variables.$dark-blue-color;
			font-weight: bold;
			width: 100%;

			@include variables.for-large-screen {
				font-size: 48px;
				width: 95%;
			}
		}

		&--desc {
			font-size: 16px;
			font-weight: 200;
			width: 100%;

			@include variables.for-large-screen {
				font-size: 18px;
				width: 70%;
			}
		}

		&--input {
			width: 100%;
			display: flex;
			align-items: center;
			margin-top: 24px;
			gap: 8px;

			@include variables.for-large-screen {
				width: 70%;
			}

			input {
				font-size: 16px;
				width: 100%;
				border: none;
				padding: 20px 24px;
				outline: none;

				@include variables.for-large-screen {
					width: 70%;
				}
			}

			button {
				font-size: 16px;
				border: none;
				background-color: variables.$primary-color;
				color: variables.$light-color;
				padding: 20px 24px;
			}
		}
	}

	img {
		width: 92%;
		margin-right: 40px;
		object-fit: contain;

		@include variables.for-medium-screen {
			width: 55%;
		}

		@include variables.for-large-screen {
			width: 600px;
		}
	}
}
