@use "./variables";

.pricingcard {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 32px 40px;
	gap: 24px;
	border: 1px solid rgba(variables.$primary-light-color, 0.2);
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	&-head {
		display: flex;
		flex-direction: column;

		.title {
			font-size: 24px;
			font-weight: 600;
			color: variables.$primary-dark-color;
		}

		.label {
			font-size: 16px;
		}
	}

	&-services {
		display: flex;
		flex-direction: column;
		gap: 8px;

		.service {
			display: flex;
			align-items: center;
			gap: 4px;
			font-size: 22px;
			color: variables.$primary-color;

			span {
				font-size: 16px;
				color: variables.$dark-light-color;
			}
		}
	}

	&-end {
		display: flex;
		flex-direction: column;
		align-self: center;
		gap: 12px;

		&-price {
			display: flex;
			align-items: center;

			.price {
				font-size: 32px;
				font-weight: 600;
				color: variables.$dark-light-color-2;
			}

			.monthly {
				color: variables.$dark-light-color;
			}
		}

		button {
			padding: 12px 28px;
			border: none;
			background-color: variables.$primary-color;
			color: variables.$light-color;
			border-radius: 50px;
			-webkit-border-radius: 50px;
			-moz-border-radius: 50px;
			-ms-border-radius: 50px;
			-o-border-radius: 50px;
		}
	}
}
