@use "./variables";

.pricingsection {
	width: 100%;
	padding: 48px 50px;
	display: grid;
	grid-template-columns: 1fr;
	gap: 24px;

	@include variables.for-medium-screen {
		grid-template-columns: 1fr 1fr;
	}

	@include variables.for-large-screen {
		padding: 48px 64px;
		grid-template-columns: 1fr 1fr 1fr;
	}
}
